@import "tailwindcss";

:root {
  --background: #020617; /* slate-950 */
  --foreground: #f9fafb; /* zinc-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f9fafb;
  }
}

body {
  background: radial-gradient(circle at top, #22c55e33, transparent 55%),
    radial-gradient(circle at bottom, #ef444433, transparent 55%),
    var(--background);
  color: var(--foreground);
}
